packer-virtualbox-vagrant/*.box
packer-virtualbox-vagrant/packer_cache/*
packer-virtualbox-vagrant/output-virtualbox-iso/*
packer-virtualbox-vagrant/last_releases
packer-virtualbox-vagrant/old_releases
packer-virtualbox-vagrant/oldstable-test
packer-virtualbox-vagrant/stable-test
packer-virtualbox-vagrant/SHA256SUMS
packer-virtualbox-vagrant/SHA256SUMS.gpg
helpers/token.gpg
.project
.settings
.tern-project
